
.max-width {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.custom-search-input {
  width: 700px;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 33%;
}
.filter-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25%;
  background-color: rgb(228, 226, 226);
  border-radius: 50%;
  padding: 2px;
}
.filter-icon:hover {
  background-color: rgb(187, 185, 185);
  cursor: pointer;
}
.scan-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28%;
  background-color: rgb(228, 226, 226);
  border-radius: 50%;
  padding: 2px;
}
.scan-icon:hover {
  background-color: rgb(187, 185, 185);
  cursor: pointer;
}

.form-control-with-icon {
  padding-left: 30px;
}

.toggle-position {
  left: 70px;
  top: 50px;
  background-color: rgb(185, 182, 182);
  color: white;
  font-size: large;
  padding: 10px;
  border-radius: 10px;
}



.card img {
  max-width: 100%;
  height: auto;

}
.card button{
  width: 60px;
  font-size: small;
}

.star-rating {
      width: 10%; 
  }



@media (max-width: 768px) {
  .custom-search-input {
    width: 150px;
  }
}
@media (max-width: 576px) {
  .custom-search-input {
    width: 80px;
  }
}
